<p id="notice"><%= notice %></p>

<h1>Sanyukta's Slam book or GuestBook</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Dob</th>
      <th>Desire</th>
      <th>Interests</th>
      <th>Hobby</th>
      <th>Signature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.address %></td>
        <td><%= post.dob %></td>
        <td><%= post.desire %></td>
        <td><%= post.interests %></td>
        <td><%= post.hobby %></td>
        <td><%= post.signature %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'View my book', posts_path %>
<%= link_to 'Sign my book', new_post_path %>